.expenses-filter__control {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.expenses-filter__control select {
    padding: 0.5rem 2rem;
    font-size: 0.8rem;
    font-weight: bold;
    margin-right: 1rem;
}